<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rsp stat="ok">
<list>
$REPEAT
<widget id="$WIDGETNAME">
<title>$WIDGETNAME</title>
<compression size="0" type="zip"/>
<description>$WIDGETNAME</description>
<download>$DOWNLOADURL</download>
</widget>
$END
</list>
</rsp>
