<?xml version="1.0" encoding="UTF-8"?>
<SETTINGS>
  <guisettings>

    <windowspos>
       <disassembler>
         <x>209</x>
         <y>88</y>
       </disassembler>
       <elfheader>
         <x>244</x>
         <y>16</y>
       </elfheader>
       <memoryview>
         <x>251</x>
         <y>256</y>
       </memoryview>
       <registers>
         <x>16</x>
         <y>5</y>
       </registers>
      <logwindow>
        <x>58</x>
        <y>336</y>
      </logwindow>
    </windowspos>
	
    <windowsize>
      <mainwindow>
        <x>872</x>
        <y>746</y>
      </mainwindow>
    </windowsize>

  </guisettings>
  
  <emuoptions>
      <pbpunpack>1</pbpunpack>
  </emuoptions>
</SETTINGS>
