<?xml version="1.0" encoding="UTF-8"?>
<SETTINGS>
  <guisettings>

    <windowspos>

       <disassembler>
           <x>243</x>
           <y>44</y>
       </disassembler>
       <elfheader>
           <x>399</x>
           <y>325</y>
       </elfheader>
       <memoryview>
           <x>7</x>
           <y>231</y>
       </memoryview>
       <registers>
           <x>15</x>
           <y>-13</y>
       </registers>

    </windowspos>

  </guisettings>
  
  <emuoptions>
      <pbpunpack>1</pbpunpack>
  </emuoptions>
</SETTINGS>
