<?xml version="1.0" encoding="UTF-8"?>
<SETTINGS>
  <guisettings>

    <windowspos>
       <disassembler>
         <x>401</x>
         <y>14</y>
       </disassembler>
       <elfheader>
         <x>244</x>
         <y>16</y>
       </elfheader>
       <memoryview>
         <x>3</x>
         <y>362</y>
       </memoryview>
       <registers>
         <x>16</x>
         <y>5</y>
       </registers>
      <logwindow>
        <x>514</x>
        <y>487</y>
      </logwindow>
    </windowspos>
	
    <windowsize>
      <mainwindow>
        <x>1169</x>
        <y>872</y>
      </mainwindow>
    </windowsize>

  </guisettings>
  
  <emuoptions>
      <pbpunpack>1</pbpunpack>
  </emuoptions>
</SETTINGS>
