<?xml version="1.0" encoding="UTF-8" standalone="no"?><SETTINGS>
  <guisettings>

    <windowspos>
        <mainwindow>
            <x>8</x>
            <y>1</y>
        </mainwindow>
       <disassembler>
         <x>50</x>
         <y>50</y>
       </disassembler>
       <elfheader>
         <x>305</x>
         <y>332</y>
       </elfheader>
       <memoryview>
         <x>100</x>
         <y>50</y>
       </memoryview>
       <registers>
         <x>16</x>
         <y>5</y>
       </registers>
      <logwindow>
        <x>8</x>
        <y>348</y>
      </logwindow>
    </windowspos>
        
    <windowsize>
      <mainwindow>
        <x>872</x>
        <y>746</y>
      </mainwindow>
    </windowsize>
    
    <saveWindowPos>1</saveWindowPos>
    <openLogwindow>1</openLogwindow>
    <snapLogwindow>1</snapLogwindow>
  </guisettings>
  
  <emuoptions>
      <pbpunpack>1</pbpunpack>
      <recompiler>0</recompiler>
      <disablege>0</disablege>
      <umdbrowser>1</umdbrowser>
      <umdpath>umdimages</umdpath>
      <keys>
          <up>38</up>
          <down>40</down>
          <left>37</left>
          <right>39</right>
          <analogUp>85</analogUp>
          <analogDown>75</analogDown>
          <analogLeft>74</analogLeft>
          <analogRight>73</analogRight>
          <start>10</start>
          <select>32</select>
          <triangle>87</triangle>
          <square>65</square>
          <circle>68</circle>
          <cross>83</cross>
          <lTrigger>81</lTrigger>
          <rTrigger>69</rTrigger>
          <hold>76</hold>
          <home>72</home>
          <volPlus>61</volPlus>
          <volMin>45</volMin>
          <screen>78</screen>
          <music>77</music>
      </keys>
  </emuoptions>
</SETTINGS>