<?xml version="1.0" encoding="UTF-8"?>
<SETTINGS>
  <guisettings>

    <windowspos>

       <disassembler>
           <x>242</x>
           <y>67</y>
       </disassembler>
       <elfheader>
           <x>399</x>
           <y>325</y>
       </elfheader>
       <memoryview>
           <x>2</x>
           <y>-17</y>
       </memoryview>
       <registers>
           <x>15</x>
           <y>-13</y>
       </registers>
      <logwindow>
        <x>300</x>
        <y>400</y>
      </logwindow>
    </windowspos>

  </guisettings>
  
  <emuoptions>
      <pbpunpack>1</pbpunpack>
  </emuoptions>
</SETTINGS>
