#
# This file is the configuration file for the plugin JpcspTrace.
# See the file README.txt for a description of the format of this file.
#
#sceGeListEnQueue 0xAB49E76A 4
# sceKernelCreateThread(@StringInfo(maxLength = 32) String name, int entry_addr, int initPriority, int stackSize, int attr, int option_addr)
sceKernelCreateThread 0x446D8DE6 6 sxdxxx
# sceUtilitySavedataInitStart(TPointer paramsAddr)
sceUtilitySavedataInitStart 0x50C4CD57 1 v
#
# sceMp4 functions
#
#sceMp4GetMovieInfo 0x7443AF1D 2 xe
#sceMp4TrackSampleBufAvailableSize 0x8754ECB8 4 xtpp
#sceMp4TrackSampleBufPut 0x31BCD7E0 3 !xtx
#sceMp4GetAvcAu 0x503A3CBA 4 !xtat
#sceMp4TrackSampleBufQueryMemSize 0xBCA9389C 5
#sceMp4TrackSampleBufConstruct 0x9C8F4FC1 8 !xt
#sceMp4RegistTrack 0x7ADFD01C 5 !xxxxt
#sceMp4AacDecodeInit 0x10EE0D2C 1 p
#sceMp4AacDecode 0x7663CB5C 5 paxxx
#sceMp4GetAacAu 0x5601A6F0 4 xtat
