#
# This file is the configuration file for the plugin JpcspTrace.
# See the file README.txt for a description of the format of this file.
#
#sceGeListEnQueue 0xAB49E76A 4
# sceKernelCreateThread(@StringInfo(maxLength = 32) String name, int entry_addr, int initPriority, int stackSize, int attr, int option_addr)
sceKernelCreateThread 0x446D8DE6 6 sxdxxx
# sceUtilitySavedataInitStart(TPointer paramsAddr)
sceUtilitySavedataInitStart 0x50C4CD57 1 v
