#
# This file is the configuration file for the plugin JpcspTrace.
# See the file README.txt for a description of the format of this file.
#
#############################################################
# Some examples
#
sceKernelCreateThread 0x446D8DE6 6 sxdxxx
sceUtilitySavedataInitStart 0x50C4CD57 1 v
#
#############################################################
# sceAtrac functions
#
#sceAtracAddStreamData 0x7DB31251 2 xx
#sceAtracDecodeData 0x6A8C3CD5 5 xxppp
#sceAtracGetAtracID 0x780F88D1 1
#sceAtracGetBitrate 0xA554A158 2 xp
#sceAtracGetBufferInfoForReseting 0xCA3CA3D2 3 xxp
#sceAtracGetBufferInfoForResetting 0x2DD3E298 3 xxp
#sceAtracGetMaxSample 0xD6A5F2F7 2 xp
#sceAtracGetNextDecodePosition 0xE23E3A35 2 xp
#sceAtracGetNextSample 0x36FAABFB 2 xp
#sceAtracGetOutputChannel 0xB3B5D042 2 xp
#sceAtracGetRemainFrame 0x9AE849A7 2 xp
#sceAtracGetSecondBufferInfo 0x83E85EA0 3 xpp
#sceAtracGetSoundSample 0xA2BBA8BE 4 xppp
#sceAtracGetStreamDataInfo 0x5D268707 4 xppp
#sceAtracIsSecondBufferNeeded 0xECA32A99 1
#sceAtracLowLevelDecode 0x0C116E1B 5 xxpxp
#sceAtracLowLevelInitDecoder 0x1575D64B 2
#sceAtracReinit 0x132F1ECA 2 dd
#sceAtracReleaseAtracID 0x61EB33F5 1
#sceAtracResetPlayPosition 0x644E5607 4
#sceAtracSetData 0x0E2A73AB 3
#sceAtracSetDataAndGetID 0x7A20E7AF 2
#sceAtracSetHalfwayBuffer 0x3F6E26B5 4
#sceAtracSetHalfwayBufferAndGetID 0x0FAE370E 3
#sceAtracSetLoopNum 0x868120B5 2
#sceAtracSetSecondBuffer 0x83BF7AFD 3
#
#############################################################
# sceMp4 functions
#
#sceMp4GetMovieInfo 0x7443AF1D 2 xe
#sceMp4TrackSampleBufAvailableSize 0x8754ECB8 4 xtpp
#sceMp4TrackSampleBufPut 0x31BCD7E0 3 !xtx
#sceMp4GetAvcAu 0x503A3CBA 4 !xtat
#sceMp4TrackSampleBufQueryMemSize 0xBCA9389C 5
#sceMp4TrackSampleBufConstruct 0x9C8F4FC1 8 !xt
#sceMp4RegistTrack 0x7ADFD01C 5 !xxxxt
#sceMp4AacDecodeInit 0x10EE0D2C 1 p
#sceMp4AacDecode 0x7663CB5C 5 paxxx
#sceMp4GetAacAu 0x5601A6F0 4 xtat
#
#############################################################
# If you are running the Custom Firmware PRO 6.xx,
# some of the NIDs need two entries as they are also
# patched by the "Stargate" component of the Customer Firmware.
#
# Below are all the needed entries: the first line is the
# official PSP NID and the second line is the Stargate NID.
# If you need to trace one of these calls,
# uncomment the related two lines.
#
#sceIoOpen 0x109F50BC 3 sxx
#sceIoOpen 0x7C8EFE7D 3 sxx
#sceIoOpenAsync 0x89AA9906 3 sxx
#sceIoOpenAsync 0xAAB9632F 3 sxx
#sceIoClose 0x810C4BC3 1 x
#sceIoClose 0x747A373E 1 x
#sceIoCloseAsync 0xFF5940B6 1
#sceIoCloseAsync 0x35BC63C2 1
#sceIoIoctl 0x63632449 6 xxpxpx
#sceIoIoctl 0x5C2D3A6A 6 xxpxpx
#sceIoIoctlAsync 0xE95A012B 6 xxpxpx
#sceIoIoctlAsync 0x0F62096E 6 xxpxpx
#sceNpDrmRenameCheck 0x275987D1 1 s
#sceNpDrmRenameCheck 0xF7AD5C92 1 s
#sceNpDrmEdataSetupKey 0x08D98894 1
#sceNpDrmEdataSetupKey 0x40CC6373 1
#sceNpDrmEdataGetDataSize 0x219EF5CC 1
#sceNpDrmEdataGetDataSize 0x1D211ABC 1
#sceKernelLoadModuleNpDrm 0xF2D8D1B4 3 sxv
#sceKernelLoadModuleNpDrm 0x0DE49D3F 3 sxv
#sceUtilityLoadModule 0x2A2B3DE0 1 !$x
#sceUtilityLoadModule 0x325FE63A 1 !$x
#sceUtilityUnloadModule 0xE49BFE92 !$1
#sceUtilityUnloadModule 0x568839DC !$1
#sceKernelLoadModule 0x977DE386 3 !$sxp
#sceKernelLoadModule 0xF104524C 3 !$sxp
#sceCtrlPeekBufferPositive 0x3A622550 2
#sceCtrlPeekBufferPositive 0x23CA99FB 2
#sceCtrlPeekBufferNegative 0xC152080A 2
#sceCtrlPeekBufferNegative 0x781E0C8F 2
#sceCtrlReadBufferPositive 0x1F803938 2
#sceCtrlReadBufferPositive 0x78115CF4 2
#sceCtrlReadBufferNegative 0x60B81F86 2
#sceCtrlReadBufferNegative 0xEDDA97E8 2
#sceKernelSetCompiledSdkVersion606 0x358CA1BB 1
#sceKernelSetCompiledSdkVersion606 0x87B63CDE 1
#sceKernelSetCompiledSdkVersion603_605 0x1B4217BC 1
#sceKernelSetCompiledSdkVersion603_605 0x87B63CDE 1
#scePower_469989AD 0x469989AD 3 ddd
#scePower_469989AD 0xD75576E8 3 ddd
#scePower_A85880D0 0xA85880D0 0
#scePower_A85880D0 0x79B19FCC 0
#sceIoDread 0xE3EB004C 2
#sceIoDread 0x6CCE76C5 2
